<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Antrian Puskesmas</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/gh/creativetimofficial/public-assets@master/soft-ui-design-system-builder/v1.0.7/assets/css/nucleo-svg.css" rel="stylesheet" />
        <link rel="stylesheet" href="./assets/css/theme.css">
        <link rel="stylesheet" href="./assets/css/page.css">
        <link rel="stylesheet" href="./assets/css/loopple/loopple.css">
        <script type="module" src="../../../js/fetch.js"></script>
        <script type="module" src="../auth/assets/js/page.js"></script>
    </head>

</head>
<body>
    <section class="py-5">
        <h2 class="text-center mt-5 mb-5">Pengisian Form</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card overflow-hidden">
                        <div class="row">
                            <!-- Halaman 1 -->
                            <div class="col-lg-7 page active">
                                <form class="p-3" id="contact-form" method="post">
                                    <div class="card-header px-4 py-sm-5 py-3">
                                        <h2>Form Data Pasien</h2>
                                    </div>
                                    <div class="card-body pt-1">
                                        <!-- Konten form halaman 1 -->
                                        <div class="row">
                                            <!-- Input fields halaman 1 -->
                                            <div class="col-md-12 pe-2 mb-3">
                                                <label>Nama Pasien</label>
                                                <input class="form-control" placeholder="Full Name" type="text">
                                            </div>
                                            <!-- ... Tambahkan input fields lainnya pada halaman 1 sesuai kebutuhan -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-end ms-auto">
                                                <button id="nextPage" type="button" class="btn btn-primary btn-round bg-gradient-primary mb-0">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Halaman 2 -->
                            <div class="col-lg-7 page">
                                <form class="p-3" id="contact-form" method="post">
                                    <div class="card-header px-4 py-sm-5 py-3">
                                        <h2>Form Data Antrian</h2>
                                    </div>
                                    <div class="card-body pt-1">
                                        <!-- Konten form halaman 2 -->
                                        <div class="row">
                                            <!-- Input fields halaman 2 -->
                                            <div class="col-md-12 pe-2 mb-3">
                                                <label>Data Antrian 1</label>
                                                <input class="form-control" placeholder="Data 1" type="text">
                                            </div>
                                            <!-- ... Tambahkan input fields lainnya pada halaman 2 sesuai kebutuhan -->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-end ms-auto">
                                                <button id="prevPage" type="button" class="btn btn-primary btn-round bg-gradient-primary mb-0">Previous</button>
                                                <button id="saveForm" type="submit" class="btn btn-primary btn-round bg-gradient-primary mb-0">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Gambar latar halaman -->
                            <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url(../assets/img/curved-images/curved6.jpg)">
                                <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                                    <div class="mask bg-gradient-primary opacity-9"></div>
                                    <div class="p-5 ps-sm-6 position-relative text-start my-auto">
                                        <h3 class="text-white">Informasi :</h3>
                                        <p class="text-white opacity-8 mb-4">- Silahkan untuk melengkapi Form Data Pasien</p>
                                        <p class="text-white opacity-8 mb-4">- Lengkapi juga Form Data Antrian pada page 2</p>
                                        <!-- Informasi kontak -->
                                        <div class="d-flex p-2 text-white">
                                            <div>
                                                <i class="fas fa-phone text-sm"></i>
                                            </div>
                                            <div class="ps-3">
                                                <span class="text-sm opacity-8">(+40) 772 100 200</span>
                                            </div>
                                        </div>
                                        <div class="d-flex p-2 text-white">
                                            <div>
                                                <i class="fas fa-envelope text-sm"></i>
                                            </div>
                                            <div class="ps-3">
                                                <span class="text-sm opacity-8">hello@creative-tim.com</span>
                                            </div>
                                        </div>
                                        <div class="d-flex p-2 text-white">
                                            <div>
                                                <i class="fas fa-map-marker-alt text-sm"></i>
                                            </div>
                                            <div class="ps-3">
                                                <span class="text-sm opacity-8">Dyonisie Wolf Bucharest, RO 010458</span>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <!-- Tombol media sosial -->
                                            <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Twitter">
                                                <i class="fab fa-twitter"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Dribbble">
                                                <i class="fab fa-dribbble"></i>
                                            </button>
                                            <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
